/* --- how I should comment css in witch part --- */
body {
    margin: 0 auto;
}

/*  ---- header ---- */ 

.cointainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    height: 110px;
    background-color:  #313332;
    width: 100%;
    position: relative;
}

.logo > img {
    position: absolute;
    width: 100px;
    float: left;
    top: 32px;
    left: 30px;
}

a:link {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 110px;
  }
  
header > nav ul li a {
    color: white;
    font-size: 17px;
    letter-spacing: 3px;
}

header > nav ul {
    list-style: none;
    margin: 0;
  }
  
header > nav ul li {
    float: right;
    margin: auto 10px;
  }

/* ---- welcome section ---- */

.jumbotron {
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/109371/pexels-photo-109371.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0 auto 135px;
}

.slogan {
    float: right;
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    margin-top: 175px;
}

section > div h1, section > div h2 {
    color: white;
    margin: 0 20px;
    line-height: 75px;
    text-align: left;
    letter-spacing: 5px;
    font-size: 18px;
    
} 

section > div h1 {
    text-transform: capitalize;
}

section > div h2 {
    text-transform: uppercase;
    font-weight: bold;
}
* {
	box-sizing: border-box;
}

/* ---- profits  and grid (where I should put grid? ---- */

.cross, .trophy, .fire {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color:black;
    transition: 2s;
}

.profits > div h5 {
    text-transform: capitalize;
    font-weight: normal;
    color: rgb(148, 142, 142);
    font-size: 13px;
}

.profits > div h4 {
    text-transform: uppercase;
    font-size: 20px;
}

/* ---- Gallery ----- */

.title-gallery {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
}

.text-gallery {
    color: rgb(148, 142, 142);
    font-size: 12px;
    margin-bottom: 60px;
    margin-top: 25px;
}

.gallery {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-top: 140px;
}

.pictures {
    height: 180px;
    width: 100%;
    transition: 2s;
}

.object-fit_cover { 
    object-fit: cover; 
  }

.layer {
    display: none;
    position: absolute;
}

.gallery-margin {
    margin: 0 0;
    padding: 0 0;
    transition: 2s;
    position: relative;
}

.gallery-margin > .layer .fa {
    font-family: Font Awesome\ 5 Free;
    display: inline-flex;
    line-height: 180px;
}

/* ---- Team ---- */

.team {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    margin-top: 110px;
    margin-bottom: 110px;
    grid-row-gap: 20px;
}

.member {
    width: 100px;
    height: auto;
}

.member > img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.layer2 {
    position: absolute;
    width: 100%;
    height: 100px;
    border-radius: 50%;
    top: 0;
   text-align: center;
   font-size: 20px;
    display: none;
    line-height: 100px;
}

.team-name {
    color: rgb(35, 35, 35);
}

/* -------pictures section-------*/

.picture-section {
    margin-top: 30px;
    background-color: rgb(117, 114, 114);
    overflow: hidden;
    height: 350px;
}

.sec-pic {
    float: left;
    display: block;
    height: 300px;
}

.grid-title {
    font-size: 30px;
    color: white;
    margin-top: 90px;
    padding-left: 20px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.grid-text {
    padding: 20px 20px;
    font-size: 17px;
    color: white;

}

.row-nest > .col-4 {
    font-style: italic;
}

.sec-pic > img {
    height: 300px;
    margin: 30px;
    margin-top: 70px;
}

/*------ numbers ------*/

.numbers {
    margin-top: 50px;
    margin-bottom: 50px;
}

[class*="no-title"], [class*="no-text"]  {
    text-align: center;
    margin: 0 auto;
    padding: 0 0;
    transition: 2s;
}

[class*="no-title"] {
    font-size: 30px;
    color: rgb(35, 35, 35);
    font-family: 'Luckiest Guy';
}

 /*-----footer----*/

.footer {
    width: 100%;
    height: 100%;
    background-color: #313332;
    color: white;
    padding: 20px 20px;
    padding-top: 40px;
}

.footer-col {
    padding-right: 20px;
}
.footer-title {
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-text {
    font-size: 13px;
    letter-spacing: 2px;
    font-family: 'Amatic SC';
    text-align: left;
}

.line {
    height: 2px;
    background-color: white;
    content: "";
    margin: 14px 0;
}

.fab {
    color: rgb(1, 198, 241);
    width: 20px;
    transition-duration: 1s;
    text-align: center;
}

/*--------copyrights-------*/

.copyrights {
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    background-color: #252726;
    color: white;
}

/*----clear fix----*/
  
.clearfix:before,
.clearfix:after {
      content: " "; 
      display: table;
      clear: both;
}

.fix {
    clear: both;
    content: "";
}

* {
	box-sizing: border-box;
}

.row::before, 
.row::after {
	content: "";
	display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

@media (max-width: 767px){
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    /*----nav----*/

    nav {
        background-color:  #313332;
        position: static;
        height: auto;
        text-align: center;
    }

    .logo {
        text-align: center;
    }

    .logo > img {
        position: static;
        width: 80%;
        float: none;
        margin-top: 10%
    }

    header > nav ul li {
        float: none;
        background-color: #313332;
        margin: 0 0;
        padding: 0 0;
      }

    header > nav ul {
        list-style: none;
        margin: 0 0;
        padding: 0 0;
      }

    a:link {
        text-decoration: none;
        text-transform: uppercase;
        line-height: 55px;
      }
    
    /*-----jumbotron----*/

    .jumbotron {
        overflow: hidden;
        margin: 0 auto 35px;
    }

    .slogan {
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: 175px;
        width: 100%;
    }
    
    section > div h1, section > div h2 {
        color: white;
        margin: 0 0;
        line-height: 75px;
        text-align: center;
        letter-spacing: 5px;
        font-size: 18px;
    }

/*-----gallery----*/

    .gallery {
        margin-top: 40px;
    }

    .layer {
        position: static;
        display: block;
    }

    .gallery-margin {
        margin: 0 0;
        padding: 0 0;
        position: static;
        display: block;
    }
    
    .gallery-margin > .layer .fa {
        font-family: Font Awesome\ 5 Free;
        display: inline-block;
        line-height: 80px;
        width: 40%;
    }

    /* -------pictures section-------*/

.picture-section {
    margin-top: 30px;
    background-color: rgb(117, 114, 114);
    overflow: hidden;
    height: auto;
    padding: 0 10px;
}

.sec-pic {
    float: none;
    display: block;
    height: auto;
}

.grid-title {
    color: white;
    margin-top: 0;
    padding-left: 0;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.grid-text {
    padding: 0 0;
    font-size: 17px;
    color: white;
    text-align: justify;
    margin-bottom: 10px;
}

.row-nest > .col-4 {
    font-style: italic;
}

.sec-pic > img {
    height: auto;
    width: 100%;
    margin: 0 0;
    margin-top: 10px;
}

.pic-text {
    margin-left: 0;
}

/* ---- Team ---- */

.team {
    margin: 20px 0;
}


/*------ numbers ------*/

.numbers {
    margin-top: 10px;
    margin-bottom: 10px;
}

 /*-----footer----*/

 .footer {
     padding-top: 20px;
 }

 .footer-col{
     margin-bottom: 10px;
 }

 .footer-text {
     text-align: center;
 }

 .icon {
     text-align: center;
     margin-top: 10px;
 }

 /*------footer-----*/

 .line {
     display: none;
 }

 .footer-title {
     text-align: center;
 }


}
@media (min-width: 768px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    header > nav ul li a:hover {
        color: rgb(40, 201, 230);
    }


    .cross:hover, .trophy:hover, .fire:hover {
        color: rgb(40, 201, 230);
    }

    .gallery-margin:hover .layer {
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .fab:hover {
        transform: scale(0.9)
    }

    .no-text:hover {
        color: rgb(1, 198, 241);
    }

    .member:hover > .layer2 {
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .gallery-margin {
        max-height: 180px;
    }
}